__pycache__/
*.parquet
*.tar.gz
*.log
tmp/
.ipynb_checkpoints/
catboost_info/
optuna_results/
venv_new/
data/
optuna/temp_repo/
optuna_env/
training/temp_repo/
secrets.sh
reports/
.venv/
skipped.csv
.DS_Store
.vscode/
training/
logs/
docs/
backups/
feature_cache_*.parquet
data.zip
